# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [51]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      7
1  banana  medium      0
2  orange     low      4
3   apple    high     13
4  banana  medium      3
5  orange     low      3
6   apple    high     10
7  banana  medium      4
8  orange     low      3
    fruit weight  price
0   apple   high      3
1  orange    low      5
2    pine   high      4
3   apple    low     14
4  orange   high      3
5    pine    low     13

In [59]:
# - 依照 fruit 欄位做合併

'''
Your Code
'''
pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        7     high        3
1    apple     high        7      low       14
2    apple     high       13     high        3
3    apple     high       13      low       14
4    apple     high       10     high        3
5    apple     high       10      low       14
6   orange      low        4      low        5
7   orange      low        4     high        3
8   orange      low        3      low        5
9   orange      low        3     high        3
10  orange      low        3      low        5
11  orange      low        3     high        3

In [60]:
# - 依照 index 索引做合併

'''
Your Code
'''
df1.join(df2, how='inner', lsuffix="_df1",rsuffix="_df2")

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          7     apple       high          3
1    banana     medium          0    orange        low          5
2    orange        low          4      pine       high          4
3     apple       high         13     apple        low         14
4    banana     medium          3    orange       high          3
5    orange        low          3      pine        low         13

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [63]:
'''
Your Code
'''
print('df1:',len(df1))
print('df2:',len(df2))
print('df1 筆數 == df2 筆數:', len(df1)==len(df2), "所以造成有些資料不見")

df1: 9
df2: 6
df1 筆數 == df2 筆數: False 所以造成有些資料不見

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [58]:
'''
Your Code
'''
df1.join(df2, lsuffix="_df1",rsuffix="_df2", how='outer')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          7     apple       high        3.0
1    banana     medium          0    orange        low        5.0
2    orange        low          4      pine       high        4.0
3     apple       high         13     apple        low       14.0
4    banana     medium          3    orange       high        3.0
5    orange        low          3      pine        low       13.0
6     apple       high         10       NaN        NaN        NaN
7    banana     medium          4       NaN        NaN        NaN
8    orange        low          3       NaN        NaN        NaN